* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    /* transition: 0.2s; - sticky sidebar conflict*/
    
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body
{
    font-family: work-sans, avenir, sans-serif;
    font-weight: 500;
	font-size:16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    
    background: #F7F7F7;
    
    width: 100%;
    overflow-x: hidden;
}

a {
    color: #898989;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
a img:hover {
    opacity: 0.6;
}

h1, h2, h3, h5 {
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

ul {
    list-style: none;
}

.strong {
    font-weight: 700;
}

.no-padding {
    padding: 0;
}

.nav {
    padding: 1rem 1rem;
    position:absolute;
    left: 1rem;
    right: 1rem;
    z-index: 10;
}
.nav .logo {
    font-family: sofia-pro;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}
.nav .logo img {
    width: 60px;
    position: relative;
    top: 6px;
    margin-right: 0.25rem;
    opacity: 0.6;
}
.nav .logo:hover img {
    opacity: 1;
}
.nav .menu li {
    display: inline;
    margin-left: 2rem;
    font-size: 16px;
}

.nav .active {
    color: red;
    font-weight: bold; 
}

.landing {
    font-size: 19px;
    line-height: 24px;
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #000;
    position: relative;
}

.section-wrapper {
    padding: 1rem 1rem;
}

.text-first {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.5;
}

.text-second {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    color: #898989;
}

.text-third {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    color: #898989;
}

.text-small {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #898989;
}

.label {
    font-size: 16px;
    font-weight: 700;
    font-family: sofia-pro;
    text-transform: uppercase;
}

.hero {
    height: 100vh;
    position: relative;
    padding: 0rem 1rem;
}
.hero-action {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
}
.hero-action img {
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
    opacity: 0.4;
}
.hero-action:hover img {
    opacity: 1;
}

.client-logo-wrapper img {
    max-width: 100%;
    padding: 1rem;
}

.services-block {
    margin-bottom: 8rem;
}
.services-block:last-child {
    margin-bottom: 0rem;
}
.services-block .text-second {
    color: #000;
    padding-top: 0.1rem;
}
.services-block .text-third {
    margin-top: 0.5rem;
}

#clients .logos {
    margin-top: 4rem;
}

footer {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

#content{
    border: 1px dotted green;
    padding: 18px;
    margin-left: 215px;
    min-height: 600px;
    color: darkgrey;
}

#sidebar{
    float: left;
    width: 200px;
    will-change: min-height;
}

#sidebar .sidebar__inner{
    
    position: relative;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

#scroll-section {
    overflow-y: hidden;
    height: 100vh;
}


.circle {
    border-radius: 30rem;
    position: absolute;
    background: #eaeaec;
    z-index: -1;
    opacity: 0.4;
}

.circle.circle1 {
    top: 16rem;
    left: 10rem;
    height: 40rem;
    width: 40rem;
}

.circle.circle2 {
    top: 76rem;
    left: 35rem;
    height: 40rem;
    width: 40rem;
}
