* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    transition: 0.2s;
    
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body
{
    font-family: "avenir";
	font-size:16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #808080;
}
a img:hover {
    opacity: 0.6;
}

h1, h2, h3, h5 {
    font-family: "avenir";
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

ul {
    list-style: none;
}

.strong {
    font-weight: 700;
}

.landing {
    font-size: 19px;
    line-height: 24px;
}

.section {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: #C4C4CB;
    background: #fff;
    color: #000;
    position: relative;
}

.section-wrapper {
    padding: 1rem 1rem;
}

.section-wrapper .text-primary {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

.section-wrapper .text-secondary {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #898989;
}

.section-wrapper .text-third {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.section-wrapper .text-small {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #898989;
}